@model IEnumerable<DataModelLayer.Product>
@{
    ViewBag.Title = "ShowProducts";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ShowProducts</h2>

<hr />

<table id="products" class="table table-bordered table-hover">

    <thead>
        <tr>
            <th>Image</th>
            <th>Name</th>
            <th>Price</th>
            <th>Description</th>
            <th>Add to cart</th>
            <th>Wishlist</th>
        </tr>
    </thead>
    @foreach (var items in Model)
    {
        <tr>
            <td>
                <img style="width:200px; height:150px;" src="@Url.Content(items.ProductImage)" class="img-rounded" alt="Waterfall" />
            </td>
            <td>@items.ProductName</td>
            <td>@items.ProductPrice</td>
            <td>@items.ProductDescription</td>
            <td>
                <a href="@Url.Action("AddToCart", "Cart", items)" id="cart"
                   class="glyphicon glyphicon-shopping-cart"
                   style="margin:30px; color:blue;">
                    <i class="bi bi-cart-plus"></i>(Price @items.ProductPrice.ToString("c"))
                </a>
            </td>
            <td>Wishlist</td>

        </tr>
    }
</table>

@section scripts {
    <script>
        $(document).ready(function () {
            $('#products').DataTable();
        });
    </script>
}

