@model DataModelLayer.OrderConfirmData_Result
@{
    ViewBag.Title = "OrderConfirm";
    Layout = "~/Views/Admins/_LayoutAdmin.cshtml";
}
<div class="container">
    <div class="row " style="padding:100px 2px 8px 2px">
        <div class="col-md-offset-3 col-md-6 col " style="background-color: mintcream; border: 2px solid Black">
            <h3 style="text-align:center">Order Confirm</h3>
            @using (Html.BeginForm("OrderEntry", "Admins"))
            {
                <div style="padding:20px 4px 6px 80px">
                    @Html.LabelFor(o => o.CustomerName)
                    @Html.TextBoxFor(o => o.CustomerName, new { @readonly = "readonly" })
                    <br /><br />
                    @Html.LabelFor(o => o.CustomerMobile)
                    @Html.TextBoxFor(o => o.CustomerMobile, new { @readonly = "readonly" })

                    <br /><br />
                    @Html.LabelFor(o => o.CustomerAddress)
                    @Html.TextBoxFor(o => o.CustomerAddress, new { @readonly = "readonly" })
                    <br /><br />
                    @Html.LabelFor(o => o.ProductId)
                    @Html.TextBoxFor(o => o.ProductId, new { @readonly = "readonly" })
                    <br /><br />
                    @Html.LabelFor(o => o.ProductName)
                    @Html.TextBoxFor(o => o.ProductName, new { @readonly = "readonly" })
                    <br /><br />
                    @Html.LabelFor(o => o.ProductCategoryType)
                    @Html.TextBoxFor(o => o.ProductCategoryType, new { @readonly = "readonly" })
                    <br /><br />
                    @Html.LabelFor(o => o.Available)
                    @Html.TextBoxFor(o => o.Available, new { @readonly = "readonly" })
                    <br /><br />
                    @Html.LabelFor(o => o.Size)
                    @Html.TextBoxFor(o => o.Size, new { @readonly = "readonly" })
                    <br /><br />
                    @Html.LabelFor(o => o.OrderDate)
                    @Html.TextBoxFor(o => o.OrderDate, "{0:d MMM yyyy}", new { @readonly = "readonly" })
                    <br /><br />
                    @Html.LabelFor(o => o.PaymentMode)
                    @Html.TextBoxFor(o => o.PaymentMode, new { @readonly = "readonly" })
                    <br /><br />
                    @Html.LabelFor(o => o.ExpectedDATE)
                    @Html.TextBoxFor(o => o.ExpectedDATE, new { @class = "form-control datepicker ", @Value = Model.ExpectedDATE.ToString("dd-MM-yyyy") })
                    @Html.ValidationMessageFor(o => o.ExpectedDATE)
                </div>
                @Html.HiddenFor(o=>o.CustomerId)
                @Html.HiddenFor(o=>o.OrderConfirmedId)

                <button class="btn bg-primary" id="SubmitBtn" type="submit">Confirm</button>
                <button class="btn bg-primary" id="SubmitBtn" type="reset">Clear</button>

            }
        </div>
    </div>
</div>
<link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />
@section scripts
{
    <script src="~/Scripts/jquery-ui-1.13.1.min.js"></script>
    <script>



        $(document).ready(function () {

     



            $(".datepicker").datepicker({
                dateFormat: "dd-mm-yy",
                changemonth: true,
                changeyear: true,
                minDate: 0,
                maxDate:15

            });
        });
    </script>




}

